.gl-btn {
  display:inline-block;
  position:relative;
  overflow: hidden;
  border-radius: 2px;
  font-weight: bold;
  text-decoration: none !important;
  &--raised {
    color: white;
    background: $btn-blue;
    &:hover, &:active, &__toggled-on {
      &:after {
        display:block;
        content:'';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(white,.2);
      }
    }
    &:active, &__toggled-on{
      	box-shadow: 0 -1px 6px 0 rgba(0,0,0,0.02), 0 1px 12px 0 rgba(0,0,0,0.1), 0 4px 5px 0 rgba(0,0,0,0.12);
    }
  }
  &--flat {
    color: $btn-blue;
    background: none;
    &:hover, &:active {
      background-color: $flat-hover;
    }
  }
  &--tiny {
    text-transform: uppercase;
    font-size: 14px;
    line-height: (22/14);
    padding:4px 12px;
  }
}
