.ms-h {
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.02), 0 1px 4px 0 rgba(0,0,0,0.1), 0 0 6px 0 rgba(0,0,0,0.06);
  background: white;
  padding: 0 24px;
  position: relative;
  z-index:99;
  &-ts {
    display:flex;
    align-items: center;
    padding: 20px 0px;
  }
  &-logo {
    &-img {
      width: 200px;
    }
  }
  &-sb {
    margin-left: 48px;
    display:flex;
    width: calc(38px * 10);
    &-input {
      background: $onyx-6;
      padding: 0 12px;
      line-height: 30px;
      height: 30px;
      flex: 1;
    }
    &-button {
      flex-basis: 30px;
      height: 30px;
      background:$sapphire-medium;
      color: white;
      position:relative;
      display:flex;
      align-items: center;
      justify-content: center;
      > svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  //NAV
  &-nav {
    max-width: $content-max-width - 24px;
    min-width: $content-min-width;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 96px;
    &-controls {
      display:flex;
      align-items: center;
      .gl-btn {
        font-size: 12px;
      }
      > * {
        &:not(:first-child) {
          margin-left: 12px;
        }
      }
    }
    &-tabs {
      display:flex;
      &-tab {
        position: relative;
        padding: 0 16px;
        color: $onyx-60;
        //font-weight: bold;
        //letter-spacing: .025em;
        line-height: 48px;
        text-decoration: none !important;
        &:hover {
          color:  $sapphire-medium;
          background-color: $flat-hover;
        }
        &--active {
          color:  $sapphire-medium;
          &:after {
            display:block;
            content:'';
            position:absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 4px;
            background:$sapphire-bright;
          }
        }
      }
    }
  }
}
