.ms-sr {
  line-height: 1.5;

  &-ul-li {
    display:flex;
    align-items: flex-start;
    min-width: 100%;
    margin-bottom: 32px;
    width: 100%;
    min-width: 0;
    &--w-thumb {
      display:block;
    }
    &-info {
      min-width: 0%;
      max-width: 100%;
      flex: 1;
      &--w-thumb {
        display:flex;
        margin-top: 8px;
      }
      &-text-container {
        flex: 1;
        min-width: 0;
      }
    }
    &-h2 {
      color: $result-link-color;
      font-size: 18px;
      min-width: 0;
      font-weight: normal;
      line-height: 1.25;
      > a {
        color: inherit;
        display: block;
        min-width: 0;
      }
      &-label {
        /*
        font-size: 12px;
        display:inline-block;
        vertical-align: middle;
        margin-right: 4px;
        text-transform: uppercase;
        letter-spacing: .1em;
        line-height: 1;
        */
        font-weight: normal;
      }
    }
    &-url {
      font-size: small;
      color: $emerald-dark;
    }
    &-desc {
      font-size: 14px;
    }
    &-thumb-con {
      margin-right: 24px;
      &--lg {
        margin-right: 16px;
      }
    }
    &-contact-options {
      display:flex;
      font-size: small;
      margin-top: 8px;
      &-li {
        display:flex;
        align-items: center;
        min-width: 0;
        flex-shrink: 0;
        &:not(:first-child) {
          margin-left: 12px;
        }
        &:last-child {
          flex-shrink: 1;
        }
        &-icon  {
          margin-right: 4px;
          > svg {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
    &-list-meta {
      margin: 4px 0;
    }
    ///MODULE CONTAINER
    &--mod-con {
      width: 708px;
      position: relative;
      left: $left-module-negative-margin;

    }
  }
}
