.ms-doc-icon {
  background: $onyx-60;
  display:flex;
  align-items: center;
  justify-content: center;
  svg {
    fill:white;
  }
  &.gl-avatar--lg {
    svg, img {
      width: 28px;
      height: 28px;
    }
  }
  &.gl-avatar--xlg {
    svg, img {
      width: 40px;
      height:40px;
    }
  }
  &--excel {
    background: #207245;
  }
  &--sp {
    background: $garnet-medium;
  }
}
