.u {
  &-tu-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
    display: block;
  }
  &-smaller {
    font-size: small;
  }
  &-sm-label {
    font-size: small;
    color: $onyx-60;
    font-weight: normal;
  }
  &-tiny-label {
    font-size: 10px;
    text-transform: uppercase;
    color: black;
    //font-weight: 600;
    line-height: 1;
  }
  &-subtitle {
    color: $onyx-60;
    //font-weight: bold;
    text-transform: uppercase;
    font-size:12px ;
    //letter-spacing:(2em / 14) ;
  }
  &-wthumb {
    display:flex;
    width: 100%;
    &--center {
      align-items: center;
    }
    &-thumb-con {
      &--lg {
        margin-right: 16px;
      }
    }
    &-content {
      flex: 1;
    }
  }
  &-no-top-padding {
    padding-top: 0;
  }
}
