$content-max-width: 1280px;
$content-min-width: 1120px;

$list-left-gutter: 120px;
$left-module-negative-margin: -32px;

$onyx-6: #F6F7F9;
$onyx-10: #B9BFC7;
$onyx-60: #52575C;
$onyx-medium: #383B3F;

$flat-hover: #E2F6FF;

$disabled-text: rgba(0,0,0,.3);

$info-color: #BEEAFF;

$sapphire-light: #a5e1ef;
$sapphire-medium: #0B6088;
$sapphire-bright: #009DE0;
$sapphire-dark: #003865;

$emerald-medium: #128C3F;
$emerald-dark: #275D38;

$garnet-medium : #B2025B;

$result-link-color: #190fab;
$btn-blue: #007BB7;