$content-max-width: 1280px;
$content-min-width: 1120px;

$list-left-gutter:  84px;

$onyx-6: #f0f0f0;
$onyx-60: #666;

$flat-hover: rgba(0,168,200,0.1);

$sapphire-light: #a5e1ef;
$sapphire-medium: #006D9E;
$sapphire-bright: #00A8C8;
